.movieCard {
    width: 250px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
  
    &:hover {
      transform: scale(1.05);
    }
  }
  

  .movieCardDetails {
    color: White;
    padding: 10px;
    text-align: center;
    height: 200px;
    background-position: contain;
    background-size: cover;
  }
  
  h3 {
    margin: 0;
  }
  
  p {
    margin: 8px 0;
  }