* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

header {
  /* viewport min - 4% of viewport - smallest between vh and vw is selected*/
  color: darkgray;
  font-size: 4vmin;
  letter-spacing: 1vmin;
}

h1 {
  color: gray;
  font-size: 3vmin;
}

#markers {
  display: grid;
  gap: 1vmin;
  grid-template-columns: repeat(7, 10vmin);
  margin-top: 1.5vmin;
}

#markers > div {
  border-color: lightgray transparent transparent;
  border-style: solid;
  border-width: 5vmin;
  cursor: pointer;
  height: 10vmin;
  scale: 0.7;
  /* transform: scale(0.7); */
}

#markers > div:hover {
  border-top-color: darkgray;
  scale: 0.9;
  /* transform: scale(0.9) */
  transition: all 150ms ease-in;
}

#board {
  display: grid;
  gap: 1vmin;
  grid-template-columns: repeat(7, 10vmin);
  grid-template-rows: repeat(6, 10vmin);
  margin-top: -4vmin;
}

#board > div {
  border: 0.1vmin solid gray;
  border-radius: 50%;
}

button {
  border: 0.1vmin solid gray;
  border-radius: 4vmin;
  color: gray;
  cursor: pointer;
  font-size: 2vmin;
  margin-top: 4vmin;
  padding: 2vmin;
  transition: all 0.3s ease-in;
}
button:hover {
  background-color: darkgray;
  color: white;
}
