.DS_Store
node_modules

# env files 
.env
.env.local
.env.*.local

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editior directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# * is a "wildcard" that can/will be filled in with anything different.
# can reuse the above for future projects, as this on is a standard.