.card {
    margin: 0.5rem;
}

.card-author-image {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    border: 3px solid white;
    position:relative;
    top: -40px;
    left: 25px;
}

.card-author-name {
    margin: 0.5rem 40px 1rem;
}

.card-author {
    display:flex;
    height: 35px;
}

.card-title {
    text-transform: capitalize;
}