html {
    box-sizing: border-box;
    box-sizing: inherit;
}
body {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.checked {
    color: orange;
  }

main {
    width: 300px;
    background-color: white;
    text-align: center;
    

}

#status {
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold;
    color: gray;
    padding: 10px 20px 0 0;

}

img {
    border-radius: 50%;
    border: green 4px solid;
   
}

h1, p {
    margin: .5px;
}

h1 {
    font-size: 2.1rem;
    padding: 8px;
}
#occupation {
    background-color: lightgray;
    padding: 16px;
}

#brand {
    display: none;
}

#offer {
    padding: 16px;
}

#contact {
    display: flex;
    
}

#contact >p {
    height: 60px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact >p:first-child {
    background-color: green;
}

#contact >p:last-child {
    background-color: rgb(17, 54, 17);

}

@media only screen and (min-width:300px) {
    main {
        /* background-color: red; */
        display: grid;
        text-align: left;
        width: 550px;
        grid-template-columns: 40% 60%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "status name"
        "img occupation"
        "img brand"
        "contact offer";
        
    }

    #status {
        text-align: left;
        padding: 10px 0 0 20px;
    }

    img {
        grid-area: img;
        margin: 0 auto;
    }

    #brand {
        display: inline;
    }

    #contact {
        grid-area: contact;
        
        align-items: flex-end;
    }

    #brand  {
        border-left: green 4px solid;
        padding: 0 5px 0 8px;
        font-size: 1rem;
    }

    #offer {
        font-size: 1.4rem;
        padding: 10px;
    }

    #name, #occupation, #brand, #offer {
        padding-left: 20px;
        background-color: lightgray;
        
    }
    
        
}

