* {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    font-family: Helvetica;
    width: 100vw;
    height: 100vh;
    background-color: #0e5f60;
    text-align: center;
}

body > div {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    margin: auto;
    height: 100%;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    margin :-12px 0 -20px 0;
}

footer {
    grid-area: footer;
}

body > div > div {
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 10%;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header p {
    margin-left: auto;
    margin-bottom: 0;
    padding-right: 10px;
    font-size: 10px;
    color: rgba(124, 124, 124, 0.42);
}

header img {
    width: 80px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid #64ba47;
}

h1 {
    font-size: 20px;
    margin-bottom: 22px ;
}

main div:nth-of-type(1) {
    background-color: #f3f3f3;
}

main div {
    padding: 5px;
    
}

main div:nth-of-type(1) img {
    padding-top: 15px;
}

ul {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin:0;
}

li {
    padding: 15px 30px;
    border: 1px;
    flex: 25%;
    font-size: 20px;
    color: white;
}

ul li:nth-of-type(1) {
    background-color: #66d18a;
}

ul li:nth-of-type(2) {
    background-color: #5bbd7c;
}

main div p {
    margin-top: 4px;
}

main div h3 {
    margin-bottom: 6px;
}